{% extends 'base.html' %}
{% block content %}

<h1>My Nest</h1>


{% if chirps %}
    {% for chirp in chirps %}
        <div class="card">
            <div class="card-content">
                <img src="{{ chirp.user.avatar_set.last.url }}" alt="" class="circle responsive-img" style="max-width: 30px; max-height: 30px">
                <a href="{% url 'profile' chirp.user.id %}">{{chirp.user}}</a>
                <br>
                <p>{{chirp.content}}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}