{% extends 'base.html' %}
{% block content %}


  <nav style="background-color: teal;max-width: 380px;margin-left: 14.5vw;">
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down">
        <li><a href="{% url 'change_password'%}">Change Password</a></li>
        <li><a href="{% url 'user_update' user.id %}">Edit Profile</a></li>
        <li><a href="{% url 'user_delete' user.id %}">Delete Profile</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

<h1>My Profile</h1>
<div class="card-panel">
    <div class="row">
        <div class="col s4">
            {% if profile_user.avatar_set.all.count %}
            <img class="responsive-img" src="{{ profile_user.avatar_set.first.url }}">
            {% else %}
            <img class="responsive-img" src="https://www.fillmurray.com/g/200/300">
            {% if request.user.is_authenticated and request.user == profile_user %}
            <form action="{% url 'add_avatar' profile_user.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br>
                <input type="submit" value="Upload Avatar">
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div class="col s8">
            <p>Bird: {{profile_user.username}}</p>
            <p>Bio: {{profile_user.bio}}</p>
            <p>Following: {{ following_count }}</p>
            <p>Followers: {{ followed_count }}</p>
        </div>
        <div class="card-action">
            {% if request.user.is_authenticated and request.user != profile_user%}
                {% if is_following  %}
                    <p>You already follow this bird</p>
                {% else %}
                    <a class="btn red" href="{% url 'follow' profile_user.id %}">Follow</a>
                {% endif %}
            {% endif %}
            {% if request.user == profile_user %}
                <a class='btn red' type='submit' href="{% url 'change_password'%}">Change Password</a>
                <a class='btn red' type='submit' href="{% url 'user_update' user.id %}">Edit Profile</a>
                <a class='btn red' type='submit' href="{% url 'user_delete' user.id %}">Delete Profile</a>
            {% endif %}
        </div>
    </div>  
</div>

<!-- this is where we display My Chirps -->
<h2>My Chirps</h2>
{% if profile_user.chirp_set.all.count %}
    {% for chirp in profile_user.chirp_set.all %}
        <div class="card">
            <div class="card-content">
                <img src="{{ chirp.user.avatar_set.last.url }}" alt="" class="circle responsive-img" style="max-width: 30px; max-height: 30px">
                <a href="{% url 'profile' chirp.user.id %}">@{{chirp.user}}</a>
                <br>
                <p>{{chirp.content}}</p>
            </div>
            <p>{{chirp.created_at}}</p>
            {% if request.user == chirp.user %}
                <div class="card-action">
                    <a href="{% url 'chirps_update' chirp.id %}">Edit</a>
                    <a href="{% url 'chirps_delete' chirp.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}

{% endif %}
<script>
    $(document).ready(function(){
        $(".dropdown-trigger").dropdown();
    });
</script>
 
{% endblock %}