{% extends 'base.html' %}
{% block content %}

{% if request.user == profile_user %}
<a class="btn" type='submit' href="{% url 'change_password'%}">Change Password</a>
<a class="btn" type='submit' href="{% url 'user_update' user.id %}">Edit Profile</a>
<a class="btn" type='submit' href="{% url 'user_delete' user.id %}">Delete Profile</a>
  {% else %}
  {% endif %}

<h1>My Profile</h1>
<p>Bird: {{profile_user.username}}</p>
<p>Following: {{ following_count }}</p>
<p>Followers: {{ followed_count }}</p>

{% if request.user.is_authenticated and request.user != profile_user%}
    {% if is_following  %}
        <p>You already following this bird</p>
    {% else %}
        <a href="{% url 'follow' profile_user.id %}">follow</a>
    {% endif %}
{% endif %}

<p>Bio: {{profile_user.bio}}</p>
{% if profile_user.avatar_set.all.count %}
    <p>Avatar:</p>
    <img style="max-height: 300px; max-width: 300px;" src="{{ profile_user.avatar_set.first.url }}">
{% else %}
    {% if request.user.is_authenticated and request.user == profile_user %}
        <form action="{% url 'add_avatar' profile_user.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
            <input type="file" name="photo-file">
            <br>
            <input type="submit" value="Upload Avatar">
        </form>
        <div class="card-action">
            <a href="{% url 'user_update' profile_user.id %}">Edit</a>
            <a href="{% url 'user_delete' profile_user.id %}">Delete</a>
          </div>
            <br><br>
            <input type="submit" value="Upload Avatar">
        </form>
    {% endif %}
{% endif %}

<!-- this is where we display My Chirps -->
<h2>My Chirps</h2>
{% if profile_user.chirp_set.all.count %}
    {% for chirp in profile_user.chirp_set.all %}
        <div>
            <div>
                <p> {{ profile_user.username }}</p>
                <img style="max-height: 75px; max-width: 75px;" src="{{ profile_user.avatar_set.first.url }}">
                <p> {{ chirp.content }}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}
 
{% endblock %}