{% extends 'base.html' %}
{% block content %}

<h1>My Profile</h1>
<p>Bird: {{user.username}}</p>
<p>Bio: {{user.bio}}</p>
{% if user.avatar_set.all.count %}
    <p>Avatar:</p>
    <img style="max-height: 300px; max-width: 300px;" src="{{ user.avatar_set.first.url }}">
{% else %}
    <form action="{% url 'add_avatar' user.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" value="Upload Avatar">
    </form>
{% endif %}

{% endblock %}