<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirper</title>
</head>
<body>
    <ul class="right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.id %}">My Nest</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
    </ul>
    {% block content %}
    {% endblock  %}
</body>
</html>