{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <title>Chirper</title>
</head>
<header>
    <nav>
        <div>
          <a>Chirper</a>
          <ul>
          </ul>
        </div>
        <div>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile' user.id %}">My Chirps</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
</header>
<body>
    {% block content %}
    {% endblock  %}
</body>
<script>
</script>
</html>