{% extends 'base.html' %}
{% block content %}

<h1>Chirper</h1>

<form action="{% url 'chirps_create' %}" method="post">
    {% csrf_token %}
    {{ chirp_form.as_p }}
    <input class="btn red" type="submit" value="Chirp Away!">
  </form>
  <br>

{% if chirps %}
    {% for chirp in chirps %}
        <div class="card">
            <div class="card-content">
                <img src="{{ chirp.user.avatar_set.last.url }}" alt="" class="circle responsive-img" style="max-width: 30px; max-height: 30px">
                <a href="{% url 'profile' chirp.user.id %}">{{chirp.user}}</a>
                <br>
                <p>{{chirp.content}}</p>
            </div>
            <p>{{chirp.created_at}}</p>
            {% if request.user == chirp.user %}
                <div class="card-action">
                    <a href="{% url 'chirps_update' chirp.id %}">Edit</a>
                    <a href="{% url 'chirps_delete' chirp.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

{% endblock %}