h1, h2, h3, h4, .brand-logo {
    font-family: 'Righteous', cursive;
}

p, li, footer {
    font-family: 'Bellota', cursive;
}

body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
}

main { 
    flex:1 0 auto;
}